body {
    margin: 0px;
    font-family: 'Muli', sans-serif;     
}
.header {
    align-items: center;
    background-color: #f5af19;
    color: white;
    display: flex;    
    height: 50px;    
    justify-content: flex-start;
    top: 0px;
    width: 100%;
}
.header__img {
    margin-left: 30px;
    width: 150px;
}
.login {
    background-image: url("img/fototienda.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
    min-height: calc(100vh - 200px);
}
.login__container {
    background-color: white;
    border: 2px solid white;
    border-radius: 40px;
    color: #f12711;
    padding: 60px 68px 40px;
    min-height: 400px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form {
    display: flex;
    flex-direction: column;
}
.login__container--form label {
    font-size: 14px;
}
.login__container--remember-me {
    color: #f12711;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remember-me a {
    color: #f12711;
    font-size: 14px;
    text-decoration: none;
}
.login__container--remember-me a:hover {    
    text-decoration: underline;
}
.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;

}
.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}
.login__container--register {
    font-size: 14px;    
}
.login__container--register a {
    color: #f12711;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.login__container--register a:hover {    
    text-decoration: underline;
}
.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #f12711;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder {
    color: #f12711;
}
.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: #f12711;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.footer {
    background-color: black;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}
.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}